<div class="question-editable">
    <div class="question-edit">
        <div class="app-input-container question-title">
            <label class="app-input-label-icon {{ questionName.invalid ? 'error' : ''}}">
                {{ question.position }}.
            </label>
            <ion-input
                name="questionClosedName"
                class="app-input {{ questionName.invalid ? 'error' : ''}}"
                type="text"
                [formControl]="questionName"
                style="width: 100%"
            ></ion-input>
        </div>

        <div class="question-options-options">
            <div *ngFor="let option of options; let i = index" class="question-option">
                <span class="delete-question-option" (click)="deleteOption(i)"><ion-icon name="remove-circle"></ion-icon></span>
                <ion-input class="option-input" [name]="'option_' + (i + 1)" [value]="option.option" (change)="option.option = optionInput.value" #optionInput></ion-input>
            </div>

            <div class="add-question-option" (click)="addOption()">
                <span><ion-icon name="add-circle"></ion-icon></span>
                <span>Add Option</span>
            </div>
        </div>
    </div>

    <div class="is-required">
        <span>Required: </span>
        <ion-toggle [checked]="question.isRequired" (ionChange)="isRequired = !isRequired"></ion-toggle>
    </div>

    <div class="question-options">
        <button class="button normal green medium" style="width: 175px !important;" (click)="save()"
                [disabled]="this.questionName.invalid">
            <ion-icon name="save"></ion-icon>&nbsp;Save
        </button>
        <button class="button normal red medium" style="width: 175px !important;" (click)="delete()">
            <ion-icon name="trash"></ion-icon>&nbsp;Delete
        </button>
    </div>
</div>
