@import "../../../../../css/partials/question";

.question-margin {
    margin-left: 20px;
}

.question-options-options {
    width: calc(100% - 20px);
    padding-left: 10px;

    .question-option {
        align-items: center;
        display: flex;
        margin-top: 5px;

        & > span {
            align-items: center;
            color: $red;
            cursor: pointer;
            display: flex;
            font-size: 30px;
            text-align: center;
            width: 50px;

            &:hover {
                color: $red-hover;
                transform: scale(1.1);
            }
        }

        & > .option-input {
            background: $dark-white;
            border: none;
            border-radius: 7px;
            color: black;
            font-size: 14px;
            height: 30px;
            padding-left: 10px !important;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }

    .add-question-option {
        align-items: center;
        cursor: pointer;
        display: flex;
        margin-top: 5px;

        &:hover {
            & > span:first-child {
                color: $green-hover;
                transform: scale(1.1);
            }
        }

        & > span:first-child {
            align-items: center;
            color: $green;
            cursor: pointer;
            display: flex;
            font-size: 30px;
            text-align: center;
            width: 50px;
        }

        & > span:last-child {
            color: $text-dark;
            font-size: 16px;
            font-weight: bold;
            padding-left: 10px;
        }
    }
}
