<ion-card button class="question">
    <div class="question-display">
        <div class="question-title">
            {{ question.isRequired ? "*" : "" }} {{ question.position }}. <span>{{ question.name }}</span>
        </div>

        <div *ngIf="question.type === 'slider'" class="slider-container" (input)="slider.value">
            {{ question.min }}
            <input class="slider" type="range" [min]="question.min" [max]="question.max"
                   [step]="question.interval" value="0" disabled #slider>
            {{ question.max }}
            <div class="output">
                {{ slider.value }}
            </div>
        </div>

        <div *ngIf="question.type === 'star'" class="star-rating-container">
            <div *ngFor="let _ of Arr(question.max).fill(1)">
                <ion-icon name="star"></ion-icon>
            </div>
        </div>
    </div>
</ion-card>
