@import "../../../css/partials/main";

.title {
    font-family: 'Fredoka One', cursive;
    text-align: center;

    &.left {
        text-align: left;
    }

    & > span {
        font-family: inherit;

        &:first-child {
            color: $green;
        }
    }

    &.alt {
        color: white;

        & > span {
            font-family: inherit;

            &:first-child {
                color: $yellow;
            }
        }
    }
}
