<div class="question-editable">
    <div class="question-edit">
        <div class="app-input-container question-title">
            <label class="app-input-label-icon {{ questionName.invalid ? 'error' : ''}}">
                {{ question.position }}.
            </label>
            <ion-input
                name="questionScaledName"
                class="app-input {{ questionName.invalid ? 'error' : ''}}"
                type="text"
                [formControl]="questionName"
                style="width: 100%;"
            ></ion-input>
        </div>

        <div *ngIf="question.type === 'slider'" class="slider-options">
            <div class="app-input-container no-margin">
                <label>Min:</label> &nbsp;
                <ion-input
                    name="questionScaledMin"
                    class="app-input no-icon"
                    type="number"
                    pattern="[0-9]*"
                    placeholder="Min"
                    [formControl]="questionMin"
                ></ion-input>
            </div>
            <div class="app-input-container no-margin">
                <label>Max:</label> &nbsp;
                <ion-input
                    name="questionScaledMax"
                    class="app-input no-icon"
                    type="number"
                    pattern="[0-9]*"
                    placeholder="Max"
                    [formControl]="questionMax"
                ></ion-input>
            </div>
            <div class="app-input-container no-margin">
                <label>Interval:</label> &nbsp;
                <ion-input
                    name="questionScaledInterval"
                    class="app-input no-icon"
                    pattern="[0-9]*"
                    type="number"
                    placeholder="Interval"
                    [formControl]="questionInterval"
                ></ion-input>
            </div>
        </div>

        <div *ngIf="question.type === 'star'" class="app-input-container star-rating-container">
            <label class="app-input-label-icon">
                <ion-icon name="star"></ion-icon>
            </label>
            <ion-select name="questionScaledMax" class="app-input select" [formControl]="questionMax" [placeholder]="questionMax.value" style="width: 100%;">
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
                <ion-select-option value="10">10</ion-select-option>
            </ion-select>
        </div>
    </div>

    <div class="is-required">
        <span>Required: </span>
        <ion-toggle [checked]="question.isRequired" (ionChange)="isRequired = !isRequired"></ion-toggle>
    </div>

    <div class="question-options">
        <button class="button normal green medium" style="width: 175px !important;" (click)="save()"
                [disabled]="this.questionName.invalid">
            <ion-icon name="save"></ion-icon>&nbsp;Save
        </button>
        <button class="button normal red medium" style="width: 175px !important;" (click)="delete()">
            <ion-icon name="trash"></ion-icon>&nbsp;Delete
        </button>
    </div>
</div>
