@import "../../../../../css/partials/_question";

.open-question-responses {
    margin-left: 20px;
    width: fit-content;

    & > div {
        align-items: center;
        display: flex;
        font-size: 14px;
        height: fit-content;
        max-width: 900px;
        min-height: 30px;
        min-width: 200px;
        overflow: hidden;
        padding: 10px;
        width: 100%;

        &:first-of-type {
            border-radius: 7px 7px 0 0;
        }

        &:last-of-type {
            border-radius: 0 0 7px 7px;
        }

        &:nth-child(even) {
            background: #EEE;
        }

        &:nth-child(odd) {
            background: $dark-white;
        }
    }
}
