<ion-card class="question-responses">
    <div class="question-display">
        <div class="question-title">
            {{ question.isRequired ? "*" : "" }} {{ question.position }}. <span>{{ question.name }}</span>
        </div>

        <div class="open-question-responses">
            <div *ngFor="let response of responses">{{ response.response }}</div>
        </div>
    </div>
</ion-card>
