@import "../../css/partials/main";

#questionnaire-details {
    #title {
        font-size: 20px !important;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .item {
        color: $text-dark;
        font-size: 16px;

        ion-note {
            color: $text-dark;
            font-size: 16px;
        }
    }
}

#delete {
    @include center;

    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    width: 90%;
}
