<ion-header *ngIf="loading">
    <ion-toolbar>
        <ion-title color="light">Loading...</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header *ngIf="!loading">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" color="light" defaultHref="/home/tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">{{ questionnaire.title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="sendQuestionnaire()">
                <ion-icon name="md-send"></ion-icon>
            </ion-button>
            <ion-button color="light" (click)="editQuestionnaire()">
                <ion-icon name="md-create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card id="questionnaire-details">
        <div id="title">
            Questionnaire Details
        </div>
        <ion-list>
            <ion-item class="item">
                <ion-label>
                    Created At:
                </ion-label>
                <ion-note slot="end">
                    <strong>{{ questionnaire.createdAt }}</strong>
                </ion-note>
            </ion-item>
            <ion-item class="item">
                <ion-label>
                    Updated At:
                </ion-label>
                <ion-note slot="end">
                    <strong>{{ questionnaire.updatedAt }}</strong>
                </ion-note>
            </ion-item>
            <ion-item class="item" *ngIf="questionnaire.expiryDate != null">
                <ion-label>
                    Expires At:
                </ion-label>
                <ion-note slot="end">
                    <strong>{{ questionnaire.expiryDate ? questionnaire.expiryDate : 'No Expiry Date'}}</strong>
                </ion-note>
            </ion-item>
            <ion-item class="item">
                <ion-label>
                    Responses:
                </ion-label>
                <ion-note slot="end">
                    <strong>{{ questionnaire.responses }}</strong>
                </ion-note>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card>
        <ion-list>
            <ion-item button (click)="editQuestionnairePage()">
                <ion-icon slot="start" name="md-create" color="medium"></ion-icon>
                <ion-label>
                    Edit
                </ion-label>
            </ion-item>
            <ion-item button (click)="questionnaireResponses()">
                <ion-icon slot="start" name="md-analytics" color="medium"></ion-icon>
                <ion-label>
                    Responses
                </ion-label>
            </ion-item>
            <ion-item button (click)="sendQuestionnaire()">
                <ion-icon slot="start" name="md-send" color="medium"></ion-icon>
                <ion-label>
                    Send
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-card>
        <ion-list>
            <ion-item style="margin-top: 5px">
                <ion-icon slot="start" name="md-globe" color="medium"></ion-icon>
                <ion-label>
                    Public
                </ion-label>
                <ion-note slot="end">
                    <ion-toggle [checked]="questionnaire.isPublic"></ion-toggle>
                </ion-note>
            </ion-item>
            <ion-item style="margin-top: 5px">
                <ion-icon slot="start" name="time" color="medium"></ion-icon>
                <ion-label>
                    Complete
                </ion-label>
                <ion-note slot="end">
                    <ion-toggle [checked]="questionnaire.isComplete"></ion-toggle>
                </ion-note>
            </ion-item>
        </ion-list>
    </ion-card>

    <button id="delete" class="button normal red" style="margin-bottom: 20px;" (click)="delete()">
        Delete
    </button>
</ion-content>
