<ion-card button class="question">
    <div class="question-display">
        <div class="question-title">
            {{ question.isRequired ? "*" : "" }} {{ question.position }}. <span>{{ question.name }}</span>
        </div>

        <div *ngIf="!question.isLong" class="app-input-container question-margin">
            <input class="app-input no-icon" type="text" placeholder="Answer..." disabled>
        </div>

        <div *ngIf="question.isLong" class="question-margin" style="margin-left: 20px;">
            <textarea class="app-textarea" placeholder="Answer..." disabled></textarea>
        </div>
    </div>
</ion-card>

