<div class="question-responses">
    <div *ngIf="question.type === 'star'" class="chart-options">
        <div class="{{ chartType === 'pie' && !isTable ? 'active' : '' }}" title="Pie Chart" (click)="changeChartType('pie')">
            <ion-icon name="pie"></ion-icon>
        </div>
        <div class="{{ chartType === 'bar' && !isTable ? 'active' : '' }}" title="Bar Chart" (click)="changeChartType('bar')">
            <ion-icon name="stats"></ion-icon>
        </div>
        <div class="{{ chartType === 'horizontalBar' && !isTable ? 'active' : '' }}" title="Horizontal Bar Chart" (click)="changeChartType('horizontalBar')">
            <ion-icon name="stats" style="transform: rotate(90deg)"></ion-icon>
        </div>
        <div class="{{ isTable ? 'active' : '' }}" title="Table (Raw Data)" (click)="changeChartType('table')">
            <ion-icon name="grid"></ion-icon>
        </div>
    </div>
    <div *ngIf="question.type === 'slider'" class="chart-options">
        <div class="{{ chartType === 'line' && !isTable ? 'active' : '' }}" title="Line Graph" (click)="changeChartType('line')">
            <ion-icon name="trending-up"></ion-icon>
        </div>
        <div class="{{ isTable ? 'active' : '' }}" title="Table (Raw Data)" (click)="changeChartType('table')">
            <ion-icon name="md-grid"></ion-icon>
        </div>
    </div>

    <div class="question-display">
        <div class="question-title">
            {{ question.isRequired ? "*" : "" }} {{ question.position }}. <span>{{ question.name }}</span>
        </div>
        <canvas
            *ngIf="!isTable"
            baseChart
            [data]="chartData"
            [labels]="chartLabels"
            [chartType]="chartType"
            [options]="chartOptions"
            [legend]="chartLegend"
        >
        </canvas>
        <div *ngIf="isTable" class="hide-no-responses-toggle">
            Hide No Responses: &nbsp;
            <ion-toggle [checked]="false" (ionChange)="hideNoResponses = !hideNoResponses;"></ion-toggle>
        </div>
        <table *ngIf="isTable">
            <thead>
                <tr>
                    <th>{{ question.type === "star" ? "Star" : "Slider Value" }}</th>
                    <th>Responses</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let label of chartLabels; let i = index">
                    <tr *ngIf="!(hideNoResponses && chartData[i] === 0)">
                        <td>{{ label }}</td>
                        <td>{{ chartData[i] }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
