<ion-content>
    <app-title></app-title>

    <form id="center-box" [formGroup]="loginForm" (ngSubmit)="onSubmit()" #login="ngForm">
        <div class="app-input-container  {{ input('email').invalid && login.submitted ? 'error' : ''}}">
            <label class="app-input-label-icon {{ input('email').invalid && login.submitted ? 'error' : ''}}">
                <ion-icon name="at"></ion-icon>
            </label>

            <input
                class="app-input {{ input('email').invalid && login.submitted ? 'error' : ''}}"
                type="text"
                placeholder="Email"
                formControlName="email"
            />
        </div>

        <div class="app-input-error" *ngIf="input('email').invalid && login.submitted">
            <ul>
                <li *ngIf="input('email').hasError('required')">Email is required</li>
            </ul>
        </div>

        <div class="app-input-container">
            <label class="app-input-label-icon {{ input('password').invalid && login.submitted ? 'error' : ''}}">
                <ion-icon name="unlock"></ion-icon>
            </label>

            <input
                class="app-input {{ input('password').invalid && login.submitted ? 'error' : ''}}"
                type="password"
                placeholder="Password"
                formControlName="password"
            />
        </div>

        <div class="app-input-error" *ngIf="input('password').invalid && login.submitted">
            <ul>
                <li *ngIf="input('password').hasError('required')">Password is required</li>
            </ul>
        </div>

        <input class="button normal green large" type="submit" value="Log In">

        <a id="sign-up" class="classic">Sign Up</a>
        <a id="forgotten-password" class="classic">Forgotten Password?</a>
    </form>
</ion-content>
