@import "../../css/partials/main";
@import "../../css/partials/controls";

ion-content {
    --overflow: hidden;
}

:host ::ng-deep .title {
    margin-top: 75px !important;
}

#center-box {
    @include center;

    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(black, 0.16);
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin-top: 75px;
    position: absolute;
    top: calc(50% - 200px);
    width: 90%;

    #sign-up {
        margin-top: 50px;
    }
}
