<ion-tabs>
    <ion-tab-bar slot="bottom" translucent="true">
        <ion-tab-button tab="home">
            <ion-icon name="md-home" style="font-size: 25px"></ion-icon>
<!--            <ion-label>Home</ion-label>-->
        </ion-tab-button>

        <ion-tab-button tab="responses">
            <ion-icon name="md-analytics" style="font-size: 25px"></ion-icon>
<!--            <ion-label>Responses</ion-label>-->
        </ion-tab-button>

        <ion-tab-button tab="create-questionniare" style="padding-bottom: 5px;" (click)="createQuestionnaire()">
            <ion-icon id="create-questionnaire" name="add-circle" color="primary" style="font-size: 60px;"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-badge *ngIf="unreadNotificationsNumber != 0" color="danger">{{ unreadNotificationsNumber }}</ion-badge>
            <ion-icon name="ios-notifications" style="font-size: 25px"></ion-icon>
<!--            <ion-label>Notifications</ion-label>-->
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon name="md-contact" style="font-size: 25px"></ion-icon>
<!--            <ion-label>Account</ion-label>-->
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
