<div class="question-editable">
    <div class="question-edit">
        <div class="app-input-container question-title">
            <label class="app-input-label-icon {{ questionName.invalid ? 'error' : ''}}">
                {{ question.position }}.
            </label>
            <ion-input
                name="questionOpenName"
                class="app-input {{ questionName.invalid ? 'error' : ''}}"
                type="text"
                [formControl]="questionName"
                style="width: 100%"
            ></ion-input>
        </div>
    </div>

    <div class="is-required">
        <span>Required: </span>
        <ion-toggle [checked]="question.isRequired" (ionChange)="isRequired = !isRequired"></ion-toggle>
    </div>

    <div class="question-options">
        <button class="button normal green medium" style="width: 175px !important;" (click)="save()" [disabled]="this.questionName.invalid">
            <ion-icon name="save"></ion-icon>&nbsp;Save
        </button>
        <button class="button normal red medium" style="width: 175px !important;" (click)="delete()">
            <ion-icon name="trash"></ion-icon>&nbsp;Delete
        </button>
    </div>
</div>
