<ion-card button class="question">
    <div class="question-display">
        <div class="question-title">
            {{ question.isRequired ? "*" : "" }} {{ question.position }}. <span>{{ question.name }}</span>
        </div>

        <div *ngIf="question.type == 'drop_down'" class="app-input-container question-margin">
            <ion-select class="app-input no-icon select" placeholder="Select One">
                <ion-select-option *ngFor="let option of existingOptions">{{ option.option }}</ion-select-option>
            </ion-select>
        </div>

        <div *ngIf="question.type == 'check'" class="question-margin">
            <ng-container *ngFor="let option of existingOptions">
                <label class="app-radio-container">{{ option.option }}
                    <input type="checkbox" disabled>
                    <span class="check"></span>
                </label>
            </ng-container>
        </div>

        <div *ngIf="question.type == 'radio'" class="question-margin">
            <ng-container *ngFor="let option of existingOptions">
                <label class="app-radio-container">{{ option.option }}
                    <input type="radio" name="radioOption" disabled>
                    <span class="radio"></span>
                </label>
            </ng-container>
        </div>
    </div>
</ion-card>
