@import "main";

.app-input-container {
    border-radius: 7px;
    height: 50px;
    margin: 10px 0 10px 0;
    position: relative;
    width: 300px;

    &:first-child {
        margin-top: 0;
    }

    &.no-margin {
        margin: 0;
    }

    .app-input-label-icon {
        background: $green;
        border-radius: 7px;
        box-sizing: border-box;
        color: $white;
        font-size: 20px;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        padding-top: 3px;
        position: absolute;
        text-align: center;
        width: 50px;
        z-index: 10;

        &.error {
            background: $red;
        }

        &.disabled {
            background: $text-light;
        }
    }

    .app-input {
        background: $dark-white;
        border: none;
        border-radius: 7px;
        box-sizing: border-box;
        font-size: 16px;
        height: 50px;
        padding-left: 55px !important;
        transition: background .1s linear;
        width: 300px;

        &[type="date"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            display: none;
        }

        &[type="date"]::-webkit-calendar-picker-indicator {
            color: $green;
        }

        &[type="number"]::-webkit-inner-spin-button {
            margin-right: 10px;
        }

        &:hover {
            background: #DEDEDE;
        }

        &:focus {
            background: #CDCDCD;
            outline: none;
        }

        &:disabled {
            color: $text-dark !important;
        }

        &.error {
            border: 1px solid $red;
        }

        &.no-icon {
            padding-left: 10px !important;
        }

        &.select {
            align-items: center;
            display: flex;
            width: 100%;
        }
    }
}

.app-input-error {
    color: $red;
    font-size: 12px;
    margin: -15px 0 -15px 0;
    text-align: left;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.app-textarea {
    background: $white-hover;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    height: 200px;
    padding: 10px;
    transition: background .1s linear;
    width: 630px;

    &:hover {
        background: #DEDEDE;
    }

    &:focus {
        background: #CDCDCD;
        outline: none;
    }

    &.error {
        border: 1px solid $red;
    }
}

.app-radio-container {
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
    padding-left: 35px;
    padding-top: 3px;
    position: relative;
    margin-left: -5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    & input {
        cursor: pointer;
        height: 0;
        position: absolute;
        opacity: 0;
        width: 0;
    }

    .check {
        background-color: $dark-white;
        border-radius: 7px;
        height: 25px;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;
    }

    &:hover input ~ .check {
        background-color: #CDCDCD;
    }

    & input {
        &:checked ~ .check {
            background-color: $green;
        }

        &:checked:hover ~ .check {
            background-color: $green-hover;
        }

        &:checked ~ .check:after {
            display: block;
        }
    }

    .check:after {
        content: "";
        display: none;
        position: absolute;
    }

    & .check:after {
        border: solid white;
        border-width: 0 3px 3px 0;
        height: 10px;
        left: 9px;
        top: 5px;
        transform: rotate(45deg);
        width: 5px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }

    .radio {
        background-color: $dark-white;
        border-radius: 50%;
        height: 25px;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;
    }

    &:hover input ~ .radio {
        background-color: #CDCDCD;
    }

    & input {
        &:checked ~ .radio {
            background-color: $green;
        }

        &:checked:hover ~ .radio {
            background-color: $green-hover;
        }
    }

    .radio:after {
        content: "";
        display: none;
        position: absolute;
    }

    & input:checked ~ .radio:after {
        display: block;
    }

    & .radio:after {
        background: white;
        border-radius: 50%;
        height: 9px;
        left: 8px;
        top: 8px;
        width: 9px;
    }
}
