@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

a {
    color: $white;
    text-decoration: none;
}

a.classic {
    color: $link-blue !important;
    cursor: pointer;
    text-decoration: underline !important;
}

.centre-box {
    @include center;

    background: $white;
    box-shadow: 0 5px 5px $shadow-color;
}

.button {
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    min-height: 40px;
    min-width: 100px;
    outline: none;

    &:disabled {
        cursor: not-allowed;
    }

    &.medium {
        height: 50px;
        width: 200px;
    }

    &.large {
        height: 50px;
        width: 300px;
    }

    &.tall {
        font-size: 20px;
        height: 75px;
    }

    &.inverse {
        &.green {
            background: none;
            border: 2px solid $green;
            color: $green;

            & > a {
                color: $green;
            }

            &:hover:enabled {
                border-color: $green-hover;
                color: $green-hover;
            }
        }

        &.yellow {
            background: none;
            border: 2px solid $yellow;
            color: $yellow;

            & > a {
                color: $yellow;
            }

            &:hover:enabled {
                border-color: $yellow-hover;
                color: $yellow-hover;
            }
        }

        &.white {
            background: none;
            border: 2px solid $white;
            color: $white;

            &:hover:enabled {
                border-color: $white-hover;
                color: $white-hover;
            }
        }

        &.red {
            background: none;
            border: 2px solid $red;
            color: $red;

            & > a {
                color: $red;
            }

            &:hover:enabled {
                border-color: $red-hover;
                color: $red-hover;
            }
        }
    }

    &.normal {
        &.green {
            background: $green;
            color: $white;

            &:hover:enabled {
                background: $green-hover;
            }
        }

        &.yellow {
            background: $yellow;
            color: $white;

            &:hover:enabled {
                background: $yellow-hover;
            }
        }

        &.white {
            background: $white;
            color: $green;

            & > a {
                color: $green;
            }

            &:hover:enabled {
                background: $white-hover;
            }
        }

        &.red {
            background: $red;
            color: $white;

            &:hover:enabled {
                background: $red-hover;
            }
        }
    }
}

.top-bar-title {
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}

.top-bar-right {
    margin-right: 15px;

    & > button:first-child {
        margin-right: 15px;
    }
}

.account-form-title {
    @include center;

    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    width: fit-content;

    .bar {
        @include center;

        background: $green;
        border-radius: 25px;
        height: 5px;
        width: 90px;
    }
}

.popup-form-title {
    @include center;

    color: $text-dark;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    padding-top: 15px;
    width: fit-content;
}

.section-title {
    @include center(15px auto 15px auto);

    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    width: 100%;
}

