@import "main";
@import "controls";

%question {
    @include center(30px auto 30px auto);

    background: $white;
    box-shadow: 0 5px 5px $shadow-color;
    display: flex;
    height: fit-content;
    width: 100%;
}

.question {
    @extend %question;

    border: 1px solid transparent;
    box-sizing: border-box;
    min-height: 100px;
    position: relative;
    width: calc(100% - 20px);

    .question-display {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        width: calc(100% - 20px);

        .question-title {
            color: $green;
            font-size: 20px;
            font-weight: bold;
            margin: 0 15px 15px 15px;
        }

        .question-margin {
            margin-left: 20px;
        }
    }
}

.question-editable {
    @extend %question;

    box-shadow: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding-top: 30px;

    .question-edit {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

        .question-title {
            margin-left: unset;
            width: calc(100% - 20px) !important;

            & > input {
                width: 100% !important;
            }
        }
    }

    .is-required {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 30px 20px 0 20px;

        & > span {
            color: $text-dark;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .question-options {
        display: flex;
        justify-content: space-between;
        padding: 30px 10px 0 10px;
    }
}

.question-responses {
    @extend .question;

    border: none;
    width: calc(100% - 20px) !important;

    &:hover {
        border: none;
    }

    .chart-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 10px;

        & > div {
            align-items: center;
            background: $dark-white;
            border-radius: 7px;
            color: $text-dark;
            cursor: pointer;
            display: flex;
            font-size: 30px;
            height: 40px;
            justify-content: center;
            margin-right: 10px;
            width: 40px;

            &:hover {
                background: #CDCDCD;
            }

            &.active {
                color: $green;
            }
        }
    }

    .question-display {
        .hide-no-responses-toggle {
            align-items: center;
            display: flex;
            padding-left: 20px;
            padding-bottom: 20px;
        }

        & > table {
            border-spacing: 0;
            border-collapse: collapse;
            margin-left: 20px;

            tr:first-child {
                border-radius: 7px 7px 0 0;
            }

            tr:last-child {
                border-radius: 0 0 7px 7px;
            }

            tr {
                height: 30px;
            }

            th, tr:nth-child(even) {
                background-color: $dark-white;
            }

            td, th {
                border: 1px solid $text-light;
                padding-left: 10px;
                padding-right: 10px;
                text-align: left;
            }
        }
    }
}
