<ion-header *ngIf="loading.questionnaire || loading.questions">
    <ion-toolbar>
        <ion-title color="light">Loading...</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header *ngIf="!loading.questionnaire && !loading.questions">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" color="light" defaultHref="/home/tabs/home/{{ data.questionnaire.id }}"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Edit Questionnaire</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="showAddQuestionActionSheet()">
                <ion-icon name="add" style="zoom: 1.5;"></ion-icon>
            </ion-button>
            <ion-button color="light" (click)="sendQuestionnaire()">
                <ion-icon name="md-send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="data.questions.length == 0 && !loading.questionnaire && !loading.questions" id="no-questions">No Questions</div>

    <ng-container *ngFor="let question of data.questions">
        <app-question-open
            *ngIf="isQuestionType(question, 'open')"
            [question]="question"
            (click)="loadQuestionEdit(question, 'open')"
        ></app-question-open>

        <app-question-closed
            *ngIf="isQuestionType(question, 'closed')"
            [question]="question"
            (click)="loadQuestionEdit(question, 'closed')"
        ></app-question-closed>

        <app-question-scaled
            *ngIf="isQuestionType(question, 'scaled')"
            [question]="question"
            (click)="loadQuestionEdit(question, 'scaled')"
        ></app-question-scaled>
    </ng-container>
</ion-content>
