<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title color="light">{{ isEditing ? "Edit Questionnaire" : "Create Questionnaire"}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="submit()">{{ isEditing ? "Edit" : "Create" }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div class="create-questionnaire-form">
        <form [formGroup]="createQuestionnaireForm" (ngSubmit)="submit()" #createQuestionnaire="ngForm">
            <div>
                <div class="app-input-container">
                    <label class="app-input-label-icon {{ formTitle.invalid && createQuestionnaire.submitted ? 'error' : ''}}">
                        <ion-icon name="list"></ion-icon>
                    </label>
                    <input class="app-input {{ formTitle.invalid && createQuestionnaire.submitted ? 'error' : ''}}" name="title" formControlName="title" placeholder="Title" autocomplete="on">
                </div>

                <div class="app-input-container">
                    <label class="app-input-label-icon {{ formCategory.invalid && createQuestionnaire.submitted ? 'error' : ''}}">
                        <ion-icon name="apps"></ion-icon>
                    </label>
                    <ion-select class="app-input select {{ formCategory.invalid && createQuestionnaire.submitted ? 'error' : ''}}" name="category" formControlName="category">
                        <ion-select-option disabled>Category</ion-select-option>
                        <ion-select-option *ngFor="let category of questionnaireCategories" [value]="category.id">{{ category.name }}</ion-select-option>
                    </ion-select>
                </div>
            </div>

            <div>
                <div class="can-expire">
                    <span>Can Expire: </span>
                    <ion-toggle [checked]="showExpiryInputStartState" (ionChange)="toggleExpiry($event)"></ion-toggle>
                </div>
                <div class="app-input-container expiry-date" *ngIf="showExpiryInput">
                    <label class="app-input-label-icon {{ formExpiryDate.invalid && createQuestionnaire.submitted ? 'error' : ''}} {{ !this.showExpiryInput ? 'disabled' : '' }}">
                        <ion-icon name="calendar"></ion-icon>
                    </label>
                    <ion-datetime class="app-input select" name="expiry" formControlName="expiry" displayFormat="DD/MM/YY" placeholder="dd/mm/yy"></ion-datetime>
                </div>
            </div>

            <div>
                <textarea class="app-textarea" name="description" formControlName="description" placeholder="Description" autocomplete="on"></textarea>
            </div>

            <input id="create-questionnaire-submit" class="button normal green large" type="submit" [value]="isEditing ? 'Edit Questionnaire' : 'Create Questionnaire'">
        </form>
    </div>

</ion-content>
