@import "../../css/partials/main";
@import "../../css/partials/controls";

.create-questionnaire-form {
    background: $white;
    width: 100%;

    .app-input-container {
        margin: 0 !important;
    }

    form {
        @include center;

        margin-top: 10px;
        width: calc(100% - 20px);

        & > div {
            width: 100%;
            display: flex;
            flex-direction: column;

            & > div {
                height: 50px;
                line-height: 50px;
                width: 100%;
                margin: 10px 0 !important;

                & > input, select {
                    width: 100%;
                }
            }

            .can-expire {
                position: relative;
                margin: 0 !important;

                & > span {
                    color: $text-dark;
                    font-size: 20px;
                    font-weight: bold;
                }

                & > *:last-child {
                    $height: 34px / 2;

                    position: absolute;
                    right: 0;
                    top: calc(50% - #{$height})
                }
            }

            .expiry-date {
                margin: 0 !important;
            }
        }

        textarea {
            margin-top: 10px;
            resize: none;
            width: 100%;
        }

        input[type="submit"] {
            width: 100%;
        }
    }
}
