<ion-header *ngIf="loading">
    <ion-toolbar>
        <ion-title color="light">Loading...</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header *ngIf="!loading">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" color="light" defaultHref="/home/tabs/home/{{ data.questionnaire.id }}"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">Responses <strong>({{data.questionnaire.responses}})</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!loading" id="questionnaire-responses-center">
        <ng-container *ngFor="let question of data.questions">
            <app-response-question-open   *ngIf="isQuestionType(question, 'open')" [question]="question" [responses]="data.openQuestionResponses[question.id]"></app-response-question-open>
            <app-response-question-closed *ngIf="isQuestionType(question, 'closed')" [question]="question" [options]="data.questionClosedOptions[question.id]"></app-response-question-closed>
            <app-response-question-scaled *ngIf="isQuestionType(question, 'scaled')" [question]="question" [responses]="data.scaledQuestionResponses[question.id]"></app-response-question-scaled>
        </ng-container>
    </div>
</ion-content>
