<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="dismiss(false)">Cancel</ion-button>
        </ion-buttons>
        <ion-title color="light">Edit Question</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="save()">Save</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <app-edit-question-open *ngIf="type == 'open'" [question]="question" (onSave)="dismiss(true)" #open></app-edit-question-open>
    <app-edit-question-closed *ngIf="type == 'closed'" [question]="question" (onSave)="dismiss(true)" #closed></app-edit-question-closed>
    <app-edit-question-scaled *ngIf="type == 'scaled'" [question]="question" (onSave)="dismiss(true)" #scaled></app-edit-question-scaled>
</ion-content>
