/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-title {
    font-weight: normal;
}

ion-content{
    --background: #E4E4E4;
}

ion-card{
    --background: white !important;
    border-radius: 0 !important;
}

ion-buttons {
    height: 30px !important;
    min-height: 30px !important;
}

ion-back-button {
    min-width: 30px !important;
}

ion-button {
    min-width: 30px !important;
}

.modal {
    --border-radius: 10px;
    --height: calc(100% - 200px);
    align-items: flex-end;
}

.action-sheet-cancel {
    color: var(--ion-color-danger) !important;
    font-weight: bold;
}
