<ion-header>
    <ion-toolbar>
        <ion-title>
            <app-title [alt]="true" [fontSize]="30"></app-title>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="questionnaires.length == 0" id="no-questionnaires">No Questionnaires</div>

    <ion-card
        *ngFor="let questionnaire of questionnaires"
        class="questionnaire"
        routerLink="{{questionnaire.id}}"
        routerDirection="forward"
    >
      <ion-card-title class="title">
          {{ questionnaire.title }}
      </ion-card-title>
      <div class="subtitle">
          <strong>Created:</strong> {{ questionnaire.createdAt }}
          •
          <strong>Last Modified:</strong> {{ questionnaire.updatedAt }}
      </div>
      <div class="subtitle" *ngIf="questionnaire.expiryDate != null">
          <strong>Expires At:</strong> {{ questionnaire.expiryDate }}
      </div>
    </ion-card>
</ion-content>
