@import "../../css/partials/main";

#no-questionnaires {
    color: $green;
    font-size: 45px;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
}

.questionnaire {
    border-bottom: 5px solid $green;
    border-radius: 10px;
    //box-shadow: 0 3px 10px rgba($green, 0.3);
    height: 80px;
    padding: 10px;
    margin: 10px !important;

    .title {
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .subtitle {
        color: $text-light;
        font-size: 12px;
    }
}
