@import "../../css/partials/main";
@import "../../css/partials/controls";

.edit-detail {
    color: $link-blue;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        text-decoration: underline;
    }
}
