<ion-header>
    <ion-toolbar>
        <ion-title color="light">Account</ion-title>

        <ion-buttons slot="end">
            <ion-button color="light" (click)="signOut()">
                <ion-icon name="ios-log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!loading" class="section-title">Account</div>

    <ion-card *ngIf="!loading">
        <ion-list>
            <ion-item button style="margin-top: 5px">
                <ion-label>
                    Name
                </ion-label>
                <ion-note slot="end">
                    {{ user.fullName }}
                    &nbsp;
<!--                    <span class="edit-detail" (click)="forms.showChangeNameForm = true;">Edit</span>-->
                </ion-note>
            </ion-item>

            <ion-item button style="margin-top: 5px">
                <ion-label>
                    Email
                </ion-label>
                <ion-note slot="end">
                    {{ user.email }}
                    &nbsp;
<!--                    <span class="edit-detail" (click)="forms.showChangEmailForm = true;">Edit</span>-->
                </ion-note>
            </ion-item>

            <ion-item button style="margin-top: 5px">
                <ion-label>
                    Password
                </ion-label>
                <ion-note slot="end">
                    **********
                    &nbsp;
<!--                    <span class="edit-detail" (click)="forms.showChangePasswordForm = true;">Edit</span>-->
                </ion-note>
            </ion-item>

            <ion-item style="margin-top: 5px">
                <ion-label>
                    Date Joined
                </ion-label>
                <ion-note slot="end">
                    {{ user.dateJoined }}
                </ion-note>
            </ion-item>

            <ion-item style="margin-top: 5px">
                <ion-label color="danger">
                    <strong>Delete Account</strong>
                </ion-label>
            </ion-item>
        </ion-list>
        <!--        <button class="button normal red medium" id="delete-account"-->
        <!--                (click)="forms.showDeleteAccountForm = true;">Delete Account-->
        <!--        </button>-->
    </ion-card>

    <div *ngIf="!loading" class="section-title">Settings</div>

    <ion-card *ngIf="!loading">
        <ion-list>
            <ion-item style="margin-top: 5px">
                <ion-label>Enable In App Notifications</ion-label>
                <ion-note slot="end">
                    <ion-toggle
                        [checked]="appToggleSwitchStartState"
                        (ionChange)="changeSettings({enable_in_app_notifications: $event})"
                    ></ion-toggle>
                </ion-note>
            </ion-item>
            <ion-item style="margin-top: 5px">
                <ion-label>Enable Email Notifications</ion-label>
                <ion-note slot="end">
                    <ion-toggle
                        [checked]="emailToggleSwitchState"
                        (ionChange)="changeSettings({enable_email_notifications: $event})"
                    ></ion-toggle>
                </ion-note>
            </ion-item >
            <ion-item style="margin-top: 5px">
                <ion-label>Notification before questionnaire expiration</ion-label>
                <ion-note slot="end">
                    <div class="app-input-container" style="width: fit-content;">
                        <ion-select class="app-input select no-icon" style="float: right; width: 250px" (change)="changeSettings({questionnaire_expiration_notification: $event.target.value})">
                            <ion-select-option value="none" [selected]="settings.questionnaireExpirationNotification === 'none'">
                                None
                            </ion-select-option>
                            <ion-select-option value="day" [selected]="settings.questionnaireExpirationNotification === 'day'">Day
                                Before
                            </ion-select-option>
                            <ion-select-option value="week" [selected]="settings.questionnaireExpirationNotification === 'week'">
                                Week Before
                            </ion-select-option>
                            <ion-select-option value="month" [selected]="settings.questionnaireExpirationNotification === 'month'">
                                Month Before
                            </ion-select-option>
                        </ion-select>
                    </div>
                </ion-note>
            </ion-item>
        </ion-list>
    </ion-card>

</ion-content>
