<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="readAllNotifications()">Read All</ion-button>
        </ion-buttons>
        <ion-title color="light">Notifications</ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" (click)="deleteAllNotifications()">Delete All</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="getNotificationDataOnRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!loading && notifications.length === 0" class="no-notifications">No Notifications</div>

    <ion-card *ngIf="!loading && notifications.length !== 0" id="notifications-page-center">
        <div *ngFor="let notification of notifications" class="notification {{ !notification.isRead ? 'unread' : '' }}"
             [title]="!notification.isRead ? 'Click to mark as read' : ''"
             (click)="!notification.isRead ? readNotification(notification.id) : null">
            <div class="top">
                <div class="title">
                    {{ notification.title }}
                    &nbsp; &nbsp;
                    <span class="delete-notification" (click)="deleteNotification(notification.id); $event.stopPropagation()">Delete</span>
                </div>
                <span>{{ notification.createdAt }}</span>
            </div>
            <div class="bottom">
                <div class="message">
                    {{ notification.message }}
                </div>
                <div *ngIf="!notification.isRead" class="unread-icon"></div>
            </div>
        </div>
    </ion-card>
</ion-content>
