@import "../../css/partials/main";

.number-unread {
    background: $green;
    border-radius: 25px;
    color: $white;
    display: inline-block;
    float: right;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    min-width: 50px;
}

.no-notifications {
    color: $green;
    font-size: 50px;
    font-weight: bold;
    margin-top: 150px;
    text-align: center;
    width: 100%;
}

#notifications-page-center {
    box-sizing: border-box;
    margin: 0;

    width: 100%;

    .notification {
        border-bottom: 1px solid $text-dark;
        box-sizing: border-box;
        height: 100px;
        padding: 10px;
        width: 100%;

        &.unread {
            background: $dark-white;
            cursor: pointer;

            &:hover {
                background: #CDCDCD;
            }
        }

        .top {
            .title {
                display: inline;
                font-size: 16px;
                font-weight: bold;

                & > span  {
                    color: $link-blue;
                    cursor: pointer;
                    font-size: 12px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            & > span {
                float: right;
                font-size: 12px;
            }
        }

        .bottom {
            margin-top: 10px;
            position: relative;

            .message {
                font-size: 12px;
                width: 90%;
            }

            .unread-icon {
                background: #167BD3;
                border-radius: 25px;
                height: 15px;
                float: right;
                position: absolute;
                right: 10px;
                top: 10px;
                width: 15px;
            }
        }
    }
}
